#header{
	display: flex;
	align-items: center;
	padding: 20px;
    background-color: #eeeeee;
    width: 100%;
    height: 80px;
    
}

#nav-bar{
	flex: 1;
	text-align: right; 
}

#nav-bar ul{
	display: inline-block;
	list-style-type: none;
}

#nav-bar ul li{
	display: inline-block; 
	margin-right: 20px;
} 
.main{
        max-width: 2000px;
         margin: 0 auto;
        padding-right: px;
    }
  form{ 
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
     width: 500px;
    height: 10%;
  }
  #email{
      position: absolute;
      right: 500px;
      width: 300px;
      height: 25px;    
  }
  #submit{
      position: absolute;
      right: 600px;
      width: 120px;
      height: 25px;
      background-color: yellow;
  }
  #feature{
    margin: auto;
    width: 900px;
   height: 50%;
  }
  video{
      margin-left: 150px;
  }
  #princing{
      display: flex;
      margin-left: 100px;
  }
   .cardi{
       border: 1px solid black;
       margin: 15px;
       width: 600px;
       text-align: center;
       padding-bottom: 15px;
       position: relative;
       right: 150px;
      cursor: pointer; 
      overflow: hidden;
   }
   .cardi:hover{
       background-color: bisque;
        opacity: 0.9;
        transform:translateY(40px);
   }
   footer{
    background: #141414;
    height: 80px;
    flex: 1;
	text-align: center;
   }
   footer ul{
	list-style-type: none;
}
    footer ul li{
        display: inline-block; 
	margin-right: 10px;
} 
button{
    background-color: yellow;
    width: 100px;
    height: 30px;
}
body{
    background-color: aliceblue;
}